import(S4Vectors)
import(GenomeInfoDb)
import(GenomicRanges)
import(VariantAnnotation)
import(ggplot2)
import(IRanges)
import(Biostrings)
import(methods)

importFrom(reshape2, melt, acast)
importFrom(ggbio, plotGrandLinear)
importFrom(NMF, nmf, basis, coef, fitted)
importFrom(pcaMethods, pca, scores, loadings) ## fitted comes from 'stats'
importFrom(Biobase, selectSome)
importFrom(proxy, dist)

exportClass(MutationalSignatures)

exportMethods(show, signatures, samples, observed, fitted)

export(readMutect)
export(ucsc, ncbi, seqchar)
export(mutationContext, mutationContextMutect, mutationContextH5vc)
export(kmerFrequency)
export(mutationDistance)
export(plotRainfall, plotVariantAbundance)
export(motifMatrix)
export(identifySignatures)
export(plotMutationSpectrum, plotObservedSpectrum, plotFittedSpectrum, plotSignatureMap, plotSignatures, plotSampleMap, plotSamples)
export(gcContent)
export(hsToplevel, hsAutosomes, hsAllosomes, hsLinear)
export(normalizeMotifs)
export(clusterSpectrum)
export(nmfDecomposition, pcaDecomposition)
export(nmfSignatures, pcaSignatures)
export(scaSNVRanges)
#export(retreiveSignatures, correlateSignatures)
